@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Andy Lam Yu</h1>
    <h1 class="display-4">Resume</h1>
</div>
<br />
<div id="experience">
    <h2>Experience</h2>
    <br />
    <h5 class="jobTitle">Software Engineer</h5>
    <h6 class="company">IMMERSIVE TECHNOLOGIES</h6>
    <h7 class="duration">May 2022 - December 2022</h7>
    <p class="text">
        My responsibility was to troubleshoot raised bugs and implement a working fix to the issue
        without introducing new bugs. Develop and complete a thorough unit test and test plans for
        implemented changes, with documentation to help my fellow co-workers understand what the
        changes are. While also, following the company’s programming standards. During projects, I
        would communicate and contribute my design to the team and discuss a better solution to
        implement.
    </p>
    <br />
    <h5 class="jobTitle">Volunteer</h5>
    <h6 class="company">OBSI PTY LTD</h6>
    <h7 class="duration">November 2021 - April 2022</h7>
    <p class="text">
        The project is a website that allows a service care business to manage its customers and
        employees. The main feature enables the employee to be called in for work on short notice. The
        website should display their availability and provide the customer details and needs.
        My task has been adding missing features and functionality, such as creating the Rate Page for
        the customer, which should display the rates details the hired staff will be getting per hour.
    </p>
</div>
<br />
<br />
<div class="education">
    <h2>Education</h2>
    <br>
    <h5 class="achievement">Bachelor of Science - Computer Science</h5>
    <h6 class="completionDate">Completed on: August 2022</h6>
    <h6 class="score">GPA: 2.8 / 4</h6>
    <h7 class="institution">Murdoch University</h7>
    <br />
    <br />
    <h5 class="achievement">Bachelor of Science - Internetworking & Network Security</h5>
    <h6 class="completionDate">Completed on: August 2022</h6>
    <h6 class="score">GPA: 2.8 / 4</h6>
    <h7 class="institution">Murdoch University</h7>
</div>
